<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
    <style>
        body{
            background: #555;
        }

        .container{
            padding: 25px;
            margin-bottom: 25px;
        }

        .form-sec {
            width: 100%;
            background: #f8f9fa;
            padding: 15px;
            box-shadow: 0 0 4px #ccc;
        }

        .form-group table{
            width: 100%;
        }

        #links tr td:nth-child(4){
            width: 20px;
        }

        #addLink {
            width: 100%;
        }

        #submit{
             width: 100%;
        }
    </style>
</head>

<body>

    {{> navbar }}

    <div class="container">
        <div class="form-sec">
            <h4>{{ title }}</h4>
            <form name="colaboratorForm" id="colaboratorForm" method="post" action="{{action}}">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Colaborator Name" name="name" value="{{colaborator.name}}">
                </div>
                <div class="form-group" id="links">
                    <label>Links:</label>
                    {{#each colaborator.links}}
                    <table id="link_{{@index}}" name="link">
                        <tr>
                            <td><input type="text" class="form-control" name="linkName" placeholder="Name" value="{{name}}"></td>
                            <td><input type="text" class="form-control" name="linkUrl" placeholder="URL" value="{{url}}"></td>
                            <td><input type="text" class="form-control" name="linkImage" placeholder="Image URL" value="{{image.url}}"></td>
                            <td><button onclick="removeLink(this)" class="btn btn-secondary btn-sm" name="remove_{{@index}}">-</button></td>
                        </tr>
                    </table>
                    {{/each}}                 
                </div>      
                <div class="form-group">
                    <button type="button" id="addLink" class="btn btn-secondary btn-sm">Add</button>
                </div>
            </form>
            <br />
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>

    {{> scripts }}
    <script>
        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }

        function validate() {
            const name = $('#name').val();
            if (isBlank(name))
                return 'Colaborator name is required';         
        }

        $("#submit").click(function (event) {            
            event.preventDefault();
            const err = validate();
            if (!err)
                $('#colaboratorForm').submit();
            else 
                alert(err);
        });

        let links = document.getElementsByName("link").length;

        $("#addLink").click(function (event) {
            $("#links").append("<table id='link_"+links+"' name='link'><tr><td><input type='text' class='form-control' name='linkName' placeholder='Name'></td><td><input type='text' class='form-control' name='linkUrl' placeholder='URL'></td><td><input type='text' class='form-control' name='linkImage' placeholder='Image URL'></td><td><button onclick='removeLink(this)' class='btn btn-secondary btn-sm' name='remove_"+links+"'>-</button></td></tr></table>");
            links++;
        }); 

        function removeLink(element)
        {
            const num = event.target.name.slice(-1);
            $("#link_"+num).detach();
        }
    </script>

    {{> footer }}

</body>

</html>