<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
    <style>
        body{
            background: #555;
        }

        .container{
            padding: 25px;
            margin-bottom: 25px;
        }

        .form-sec {
            width: 100%;
            background: #f8f9fa;
            padding: 15px;
            box-shadow: 0 0 4px #ccc;
        }

        .form-group table{
            width: 100%;
        }

        #roles tr td:nth-child(2){
            width: 20px;
        }

        #colaborators tr td:nth-child(2){
            width: 20px;
        }

        #links tr td:nth-child(1){
            width: 30%;
        }

        #links tr td:nth-child(3){
            width: 20px;
        }

        #addLink {
            width: 100%;
        }

        #addColaborator {
            width: 100%;
        }

        #submit{
             width: 100%;
        }
    </style>
</head>

<body>

    {{> navbar }}

    <div class="container">
        <div class="form-sec">
            <h4>{{ title }}</h4>
            <form name="projectForm" id="projectForm" method="post" action="{{action}}">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" id="projectName" placeholder="Project Name" name="projectName" value="{{project.name}}">
                </div>
                <div class="form-group" id="roles">
                    <label>Roles:</label>
                    {{#each project.roles}}
                    <table id="roleTable_{{@index}}">
                        <tr>
                            <td><input type="text" class="form-control" id="role_{{@index}}" placeholder="Role" name="role" value="{{this}}"></td>
                            <td><button type="button" onclick="removeRole(this)" class="btn btn-secondary btn-sm" id="remove_{{@index}}">-</button></td>
                        </tr>
                    </table>
                    {{/each}}
                </div>
                <div class="form-group">
                    <button type="button" id="addRole" class="btn btn-secondary btn-sm">Add Role</button>   
                </div>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="date", class="form-control" id="date" name="date" value="{{project.date}}">
                </div>                
                <div class="form-group">
                    <label>Tags:</label>
                    <input type="text" class="form-control" id="tags" placeholder="Tags separate by commas" name="tags" value="{{project.tags}}">
                </div>
                <div class="form-group">
                    <label>Thumbnail link:</label>
                    <input type="text" class="form-control" id="thumbnail" name="thumbnail" value="{{project.thumbnail.url}}">
                </div>
                <div class="form-group">
                    <label>Video link:</label>
                    <input type="text" class="form-control" id="video" name="video" value="{{project.video}}">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" id="description" name="description">{{project.description}}</textarea>
                </div>
                <div class="form-group">
                    <label>Company:</label>
                    <br/>                    
                    <select class="form-control" name="companyName" form="projectForm">
                    {{#if project.company.name}}
                        {{#each companies}}
                            {{#if_eq ../project.company.name name}}
                                <option selected value="{{name}}">{{name}}</option>
                            {{else}}
                                <option value="{{name}}">{{name}}</option>
                            {{/if_eq}}
                        {{/each}}
                    {{else}}
                        {{#each companies}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    {{/if}}
                    </select>                        
                </div>                
                <div class="form-group" id="colaborators">
                    <label>Colaborators:</label>
                    {{#each project.colaborators}}
                    <table id="colaborator_{{@index}}" name="colaborator">
                        <tr>
                            <td>
                                <input type="hidden" name="colaboratorIndex" value="{{@index}}">
                                <select class="form-control" name="colaboratorName" form="projectForm">
                                {{#each @root.colaborators}}
                                    {{#if_eq ../reference.name name}}
                                    <option selected value="{{name}}">{{name}}</option>
                                    {{else}}
                                    <option value="{{name}}">{{name}}</option>
                                    {{/if_eq}}
                                {{/each}}
                                </select>
                            </td>
                            <td><button type="button" onclick="removeColaborator(this)" class="btn btn-secondary btn-sm" id="remove_{{@index}}">-</button></td>
                        </tr>
                        {{#each roles}}
                        <tr id="colaboratorRole_{{@../index}}_{{@index}}">
                            <td><input type="text" class="form-control" style="margin-left:20%;width:80%" name="colaboratorRole_{{@../index}}" value="{{this}}"></td>
                            <td><button type="button" onclick="removeColaboratorRole(this)" class="btn btn-secondary btn-sm" id="remove_{{@../index}}_{{@index}}">-</button></td>
                        </tr>
                        {{/each}}
                        <tr id="addColaboratorRoleButton_{{@index}}">
                            <td><button type="button" onclick="addColaboratorRole(this)" id="addColaboratorRole_{{@index}}" class="btn btn-secondary btn-sm">Add Role</button></td>
                        </tr>
                    </table><br/>
                    {{/each}}
                </div>
                <div class="form-group">
                    <button type="button" id="addColaborator" class="btn btn-secondary btn-sm">Add Colaborator</button>   
                </div>
                <div class="form-group" id="links">
                    <label>Links:</label>
                    {{#each project.links}}
                    <table id="link_{{@index}}" name="link">
                        <tr>
                            <td><input type="text" class="form-control" name="linkName" placeholder="Name" value="{{name}}"></td>
                            <td><input type="text" class="form-control" name="linkUrl" placeholder="URL" value="{{url}}"></td>
                            <td><button type="button" onclick="removeLink(this)" class="btn btn-secondary btn-sm" id="remove_{{@index}}">-</button></td>
                        </tr>
                    </table>
                    {{/each}}                 
                </div>      
                <div class="form-group">
                    <button type="button" id="addLink" class="btn btn-secondary btn-sm">Add Link</button>
                </div>
            </form>
            <br />
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>

    {{> scripts }}
    <script>
        function isBlank(str) {
            return (!str || /^\s*$/.test(str));
        }

        function validate() {
            const name = $('#projectName').val();
            if (isBlank(name))
                return 'Project name is required';

            const date = $('#date').val();
            if (isBlank(date))
                return 'Date is required';            
        }

        $("#submit").click(function (event) {
            event.preventDefault();
            const err = validate();
            if (!err)
                $('#projectForm').submit();
            else 
                alert(err);
        });

        let roles = document.getElementsByName("role").length;

        $("#addRole").click(function (event) {
            const content = 
                `<table id="roleTable_${roles}">
                    <tr>
                        <td><input type="text" class="form-control" id="role_${roles}" placeholder="Role" name="role"></td>
                        <td><button type="button" onclick="removeRole(this)" class="btn btn-secondary btn-sm" id="remove_${roles}">-</button></td>
                    </tr>
                </table>`;

            $('#roles').append(content);
            roles++;
        });

        function removeRole(element)
        {
            const sp = element.id.split('_');
            const index = sp[sp.length-1];
            $("#roleTable_"+index).detach();
        }

        const getColaborators = () => {
            let data = "";
            {{#each colaborators}}
                data += "<option value='{{name}}'>{{name}}</option>";
            {{/each}}
            return data;
        };                

        let colaborators = document.getElementsByName("colaborator").length;

        let colaboratorsRoles = [];
        document.getElementsByName("colaborator").forEach((colaborator) => {            
            const sp = colaborator.id.split('_');
            const index = sp[sp.length-1];
            const roles = colaborator.querySelector(`td[name="colaboratorRole_${index}"]`);
            colaboratorsRoles.push({index, roles});
        });

        $("#addColaborator").click(function (event) {
            const data = getColaborators();
            const content = 
                `<table id="colaborator_${colaborators}" name="colaborator">
                    <tr>
                        <td>
                            <input type="hidden" name="colaboratorIndex" value="${colaborators}">
                            <select class="form-control" name="colaboratorName" form="projectForm">
                                ${data}
                            </select>
                        </td>
                        <td>
                            <button type="button" onclick="removeColaborator(this)" class="btn btn-secondary btn-sm" name="remove_${colaborators}">-</button>
                        </td>
                    </tr>
                    <tr id="addColaboratorRoleButton_${colaborators}">
                        <td>
                            <button type="button" onclick="addColaboratorRole(this)" id="addColaboratorRole_${colaborators}" class="btn btn-secondary btn-sm">Add Role</button>
                        </td>
                    </tr>
                </table><br/>`;
            
            $("#colaborators").append(content);            
            colaboratorsRoles.push({index:colaborators, roles:0});
            colaborators++;
        }); 

        function removeColaborator(element)
        {
            const sp = element.id.split('_');
            const index = sp[sp.length-1];
            $("#colaborator_"+index).detach();
            colaboratorsRoles = colaboratorsRoles.filter(item => item.index != index);
        }

        function addColaboratorRole(element) {
            const sp = element.id.split('_');
            const index = sp[sp.length-1];
            let roles = colaboratorsRoles.find(item => item.index == index).roles;

            const content = 
                `<tr id="colaboratorRole_${index}_${roles}">
                    <td><input type="text" class="form-control" style="margin-left:20%;width:80%" name="colaboratorRole_${index}"></td>
                    <td><button type="button" onclick="removeColaboratorRole(this)" class="btn btn-secondary btn-sm" id="remove_${index}_${roles}">-</button></td>
                </tr>`;

            $(`#addColaboratorRoleButton_${index}`).before(content);
            roles++;
            colaboratorsRoles = colaboratorsRoles.map(item => item.index == index ? {index: item.index, roles} : item);
        }

        function removeColaboratorRole(element) {
            const sp = element.id.split('_');
            const index = sp[sp.length-2];
            const roles = sp[sp.length-1];
            $("#colaboratorRole_"+index+"_"+roles).detach();
        }

        let links = document.getElementsByName("link").length;

        $("#addLink").click(function (event) {
            const content = 
                `<table id='link_${links}' name='link'>
                    <tr>
                        <td><input type='text' class='form-control' name='linkName' placeholder='Name'></td>
                        <td><input type='text' class='form-control' name='linkUrl' placeholder='URL'></td>
                        <td><button type="button" onclick='removeLink(this)' class='btn btn-secondary btn-sm' id='remove_${links}'>-</button></td>
                    </tr>
                </table>`;

            $("#links").append(content);
            links++;
        }); 

        function removeLink(element)
        {
            const sp = element.id.split('_');
            const name = sp[sp.length-1];
            $("#link_"+name).detach();
        }
    </script>

    {{> footer }}

</body>

</html>