<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
	<link rel="stylesheet" href="/assets/css/timeline-scroll.css">
	<style>
		body {
			background-image: linear-gradient(#EEEEEE, #555555);
		}
	</style>
</head>

<body>

{{> navbar }}

<div class="container-fluid">
	<div class="row">
	    <div id="timeline">
		{{#each years}}		
			{{#each projects}}
				<div class="row timeline-movement">
					<div class="timeline-badge {{classA}}">					
					</div>
					<div class="{{classB}} timeline-item">
						<div class="row">
							<div class="{{classC}}">
								<div class="timeline-panel {{classD}}">
									<ul class="timeline-panel-ul">
										<div class="lefting-wrap">
											<li class="img-wraping"><a href="project/{{name}}"><img src="/assets/images/{{thumbnail._id}}" class="img-responsive" alt="user-image" /></a></li>
										</div>
										<div class="righting-wrap">
											<li><a href="project/{{name}}" class="importo">{{name}}</a></li>
											<li><span class="causale" style="color:#000; font-weight: 600;">{{position}}</span> </li>
											<li><span class="causale">{{description}}</span> </li>
											<li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{dateString}}</small></p> </li>
										</div>
										<div class="clear"></div>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			{{/each}}
			<div class="row timeline-movement timeline-movement-top">
				<div class="timeline-badge timeline-future-movement">
					<p>{{year}}</p>
				</div>
			</div>
		{{/each}}		
		</div>
	</div>
</div>

{{> scripts }}
<script src="/assets/js/timeline-scroll.js"></script>

{{> footer }}

</body>
</html>