<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Daniel Harton | {{ title }} </title>
    {{> styles }}
    <style>
    body {
        background-color: #EEEEEE;
    }

    header {
        position: relative;
        background-color: black;
        height: 60vh;
        min-height: 25rem;
        width: 100%;
        overflow: hidden;
    }

    header iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }

    #name {
        text-align: center;
    }

    #name p {
        font-size: 80px;
    }

    .my-5 {
        padding-bottom: 25px;
    }

    .logo {
        width: 128px;
        height: 128px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .colaboratorCard {        
        position:    absolute;
        z-index:     9999;
        width: auto;
        background-color: white;
        border-style:groove;
        padding: 20px;  
        background-color: #EEEEFF;
    }

    .linkImage {
        width: 64px;
        height: 64px;
        background-color: white;
    }

    </style>
</head>

<body>

    {{> navbar }}

<a href="http://www.youtube.com/watch_popup?v={{project.video}}">
    <header>        
        <div class="overlay"></div>
        <iframe src="https://www.youtube.com/embed/{{project.video}}?rel=0&amp;autoplay=1&mute=1&loop=1&playlist={{project.video}}" frameborder="0" allowfullscreen></iframe>
    </header>
</a>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">  
        <div id="name">
            <p>{{project.name}}</p>
        </div>        
        <p>{{project.description}}</p>        
        <br/>
        <h5>Links</h5>
        <ul>
            {{#each project.links}}
            <li><a href="{{url}}" target="_blank">{{name}}</a></li>
            {{/each}}
        </ul>        
        <br/>
        <h5>Tags</h5>
        <p>
            {{#each project.tags}}
            <a href="/projects/{{name}}">{{name}}</a>,
            {{/each}}
        </p> 
        <br/>    
        <h5>Créditos</h5>
        <ul>
            <li><a href="/contact">Daniel Martínez Priego</a>
                <ul>
                    {{#each project.roles}}
                    <li><i>{{this}}</i></li>
                    {{/each}}
                </ul>
            </li>            
            {{#each project.colaborators}}
            <br/>
            <li><a class="showColaborator" onclick="showColaborator(this, '{{reference.name}}')" href="javascript:void(0);">{{reference.name}}</a>
                <ul>
                    {{#each roles}}
                    <li><i>{{this}}</i></li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
        <br/>
        <a href="{{project.company.website}}"><img class="logo" src="/assets/images/{{project.company.logo._id}}" alt="{{project.company.name}}"></a>   
      </div>
    </div>
  </div>
</section>

    {{> scripts }}
    <script>
        var name, links;
        
        const colaborators = [];        

        {{#each project.colaborators}}

            name = "{{reference.name}}";

            links = [];
            {{#each reference.links}}
                links.push({
                    name: "{{name}}",
                    url: "{{url}}",
                    image: "{{image}}"
                });
            {{/each}}

            colaborators.push({name, links});

        {{/each}}     

        function removeCard()
        {
            let div = $('#colaboratorCard');
            if (div)
                div.detach();
        }   

        function showColaborator(element, colaboratorName)
        {
            removeCard();

            const bodyRect = document.body.getBoundingClientRect();
            const elemRect = element.getBoundingClientRect();

            let offsetX = elemRect.left - bodyRect.left;
            let offsetY = elemRect.top - bodyRect.top;

            const colaborator = colaborators.find(c => c.name === colaboratorName);

            let content = `<div id="colaboratorCard" class="colaboratorCard"><h3>${colaborator.name}</h3><br/><br/>`;
            colaborator.links.forEach(link => {
                content += `<a href="${link.url}" target="_blank"><img class="linkImage" src="/assets/images/${link.image}" alt="${link.name}"></a>
                            <span style="display:inline-block; width:5px;"></span>`;
            });
            content += '</div>';
                    
            $("body").append(content);

            div = $('#colaboratorCard');

            //offsetX -= div.width()/2;
            offsetY -= div.height();

            div.css({'left': offsetX + 'px', 'top': offsetY + 'px'});
        }        

        $('.showColaborator').click(event => {
            event.stopPropagation();
        })

        $('body').click(event => {
            removeCard();
        });
    </script>

    {{> footer }}

</body>

</html>